<div id="<%= dom_id comment %>">
  <p>
    <strong>Titulo:</strong>
    <%= comment.title %>
  </p>

  <p>
    <strong>comentario :</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>creado por:</strong>
    <%= comment.user %>
  </p>

</div>
