<div id="<%= dom_id publicacione %>">
  <p>
    <strong>Titulo:</strong>
    <%= publicacione.titulo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= publicacione.descripcion %>
  </p>

</div>
