<h1>Editar las Publicaciones</h1>

<%= render "form", publicacione: @publicacione %>

<br>

<div>
  <%= link_to "Mostrar la publicacion", @publicacione %> |
  <%= link_to "regrasar a todas las publicaciones", publicaciones_path %>
</div>
