<h1>Editing publicacione</h1>

<%= render "form", publicacione: @publicacione %>

<br>

<div>
  <%= link_to "Show this publicacione", @publicacione %> |
  <%= link_to "Back to publicaciones", publicaciones_path %>
</div>
