<p style="color: green"><%= notice %></p>

<h1>Publicaciones</h1>

<div id="publicaciones">
  <% @publicaciones.each do |publicacione| %>
    <%= render publicacione %>
    <p>
      <%= link_to "Mostrar las publicaciones", publicacione %>
    </p>
  <% end %>
</div>

<%= link_to "nueva publicaciones", new_publicacione_path, class: "btn btn-success border-dark" %>
