<div id="<%= dom_id news %>">
  <p>
    <strong>Titular</strong>
    <%= news.title %>
  </p>

  <p>
    <strong> Noticia </strong>
    <%= news.body %>
  </p>

  <p>
    <strong> creado por:</strong>
    <%= news.user%>
  </p>

</div>
